@import url('https://fonts.googleapis.com/css?family=Roboto');
@import url('https://fonts.googleapis.com/css?family=Varela+Round');
@import url('https://fonts.googleapis.com/css2?family=Creepster&family=Holtwood+One+SC&family=Pacifico&family=Playfair+Display&family=Quicksand:wght@300&family=Roboto:wght@100&display=swap');

html {
    box-sizing: border-box;
}

* {
    margin: 0%;
    padding: 0%;
}

*,
*:before,
*::after {
    box-sizing: inherit;
}

body {
    font-family: 'Varela Round', sans-serif;
}

.nav-list {
    list-style: none;
}

.nav-list a {
    font-weight: bold;
    text-decoration: none;
    transition: color 0.3s ease-out;
    color: white;
}

.nav-list li {
    position: relative;
    display: inline-block;
    margin: 3%;
    margin-top: 2%;
    letter-spacing: -1%;
}


.list:after,
.list:before,
.list a:after,
.list a:before {
    background-color: #CEDD3E;
}

.list:hover {
    color: #CEDD3E
}

.features:after,
.features:before,
.features a:after,
.features a:before {
    background-color: #F27132;
}

.features:hover {
    color: #F27132;
}

.order:after,
.order:before,
.order a:after,
.order a:before {
    background-color: #85C3E9;
}

.order:hover {
    color: #85C3E9;
}

.contact:after,
.contact:before,
.contact a:after,
.contact a:before {
    background-color: #FDBE2A;
}

.contact:hover {
    color: #FDBE2A;
}

.nav-list li:after,
.nav-list li:before,
.nav-list a:before,
.nav-list a:after {
    position: absolute;
    content: '';
    border-radius: 4px;
}

.nav-list li:after,
.nav-list li:before {
    bottom: -4px;
    height: 4px;
}

.nav-list li:not(.selected):before {
    left: 0;
    right: -2px;
}

.nav-list li.selected:after {
    left: 0;
    right: 39px;
}

.nav-list li.selected:before {
    right: -2px;
    width: 13px;
}


.nav-list .selected a:before {
    height: 22px;
    width: 4px;
    bottom: -22px;
    right: 7px;
}

.nav-list .selected a:after {
    height: 4px;
    width: 40px;
    bottom: -13px;
    right: 5px;
    transform: rotate(30deg);
}

nav {
    width: 100%;
    text-align: center;
}

.cont {
    background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url('./assets/1922.jpg');
    background-repeat: no-repeat;
    background-size: 100%;
    width: 100%;
    height: 100vh;
}

h2 {
    text-align: center;
    color: white;
    margin-top: 8%;
    font-size: 3vw;
    font-family: "Holtwood One SC";
}


.button {
    border-radius: 5%;
    background-color: orange;
    border: none;
    color: #FFFFFF;
    text-align: center;
    font-size: 1.5vw;
    padding: 1%;
    width: 15%;
    transition: all 0.5s;
    cursor: pointer;
    margin-left: 43%;
}

.button span {
    cursor: pointer;
    display: inline-block;
    position: relative;
    transition: 0.5s;
}

.button span:after {
    content: '\00bb';
    position: absolute;
    opacity: 0;
    top: 0;
    transition: 0.5s;
}

.button:hover span {
    padding-right: 25%;
}

.button:hover span:after {
    opacity: 1;
    right: 0;
}

.aboutUs {
    clear: right;
}

hr {
    position: relative;
    border: none;
    height: 12px;
    background: black;
}

.story {
    color: white;
    background-color: black;
    text-align: center;
    margin-top: 0;
    margin-left: 40%;
    margin-right: 40%;
    padding: 1%;
}

h3 {
    font-weight: bold;
    text-align: center;
    font-size: 3vw;
    margin-top: 3%;
}

.story-img {
    display: block;
    margin: 2%;
    margin-left: auto;
    margin-right: auto;
    width: 40%;

}

.quote {
    text-align: center;
    margin-left: 30%;
    margin-right: 30%;
    font-family: 'Quicksand';
    margin-bottom: 2%;

}

.learn {
    padding: 1%;
    padding-left: 2%;
    padding-right: 2%;
    background-color: black;
    color: white;
    border: 2px solid white;
    font-size: 1.2vw;
    margin-left: 45%;
    margin-top: 2%;
    margin-bottom: 4%;
}

.overview {
    background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url('./assets/knead3.jpg');
    background-repeat: no-repeat;
    background-position: fixed;
    top: 0;
    background-size: 100%;
    height: 100vh;
}

.o {
    color: white;
    width: fit-content;
    float: right;
    margin-right: 12%;
    margin-top: 10%;
    padding: 5%;
    top: 25%;
    border: 10px solid white;
    background-color: transparent;
    transform: rotate(45deg);
    text-align: center;

}

.d {
    color: white;
    width: fit-content;
    float: right;
    margin-right: 10%;
    margin-top: 25%;
    padding: 5%;
    top: 25%;
    border: 5px solid white;
    background-color: transparent;
    transform: rotate(45deg);
}

#reservation {
    margin: 0;
    padding: 0;
    color: black;
    margin-left: 7%;
}

h4 {
    font-size: 3vw;
    font-weight: bold;
    text-align: center;
    margin-top: 2%;
}

.res {
    margin-top: 4%;
    width: 15%;
    margin-right: 2%;
    margin-left: 1%;
    border: 2px solid black;
}

.res-btn {
    margin-top: 4%;
    width: 15%;
    background-color: black;
    border: 2px solid black;
    color: white;
    font-size: 1.2vw;
}

.displays {
    display: -ms-grid;
    columns: 3;
    margin-top: 4%;
    margin-bottom: 5%;
    width: 100%;

}

.displays img {
    width: 100%;
}

.private {
    text-align: center;
    margin-top: 5%;
}

blockquote {
    margin-left: 25%;
    margin-right: 25%;
    margin-top: 3%;
    color: rgb(59, 59, 59);
}

.contact-btn {
    padding: 1%;
    padding-left: 2%;
    padding-right: 2%;
    background-color: transparent;
    color: black;
    border: 2px solid black;
    font-size: 1.2vw;
    margin-top: 3%;
    margin-bottom: 4%;
}

.assure {
    width: 100%;
}

h6 {
    background-color: black;
    color: white;
    font-size: 2vw;
    text-align: center;
    margin-top: -1%;
    padding-top: 4%;
    margin-bottom: -2%;
    font-family: 'openSans';

}

.foot {
    color: white;
    background-color: black;
    margin-top: -1%;
    padding-top: 0%;
    display: flex;
    height: 55vh;
    justify-content: space-between;
}

.left {
    margin-left: 20%;
    margin-top: 5%;
}

.right {
    margin-top: 5%;
    margin-right: 20%;
}

.social {
    width: 100%;
}

footer {
    padding-top: 2%;
    background-color: black;
    color: white;
    display: flex;
    justify-content: space-between;
    padding-bottom: 2%;
}

.start {
    margin-left: 20%;
    font-size: 1vw;
}

.end {
    font-size: 1.3vw;
    margin-right: 25%;
}

.sub {
    padding: 2%;
    padding-left: 20%;
    padding-right: 20%;
    margin: 2%;
    margin-bottom: 5%;
    margin-top: 5%;
    background-color: transparent;
    color: white;
    border: 2px solid white;
    text-align: center;

}

.sub-btn {
    padding: 2%;
    padding-left: 35%;
    padding-right: 37%;
    margin: 2%;
    background-color: transparent;
    color: white;
    border: 2px solid white;
    text-align: center;
}

/* menu.html */
.menu-order {
    background-image: url("./assets/FREE!\ Trifold\ +\ Italian\ Food\ Menu.jpeg");
    background-repeat: no-repeat;
    background-size: 100%;
    width: 100%;
    height: 400vh;
}

/* order.html */
.menu {
    background-image: url('./assets/Premium\ Vector\ _\ Vector\ hands\ holding\ a\ knife\ and\ fork.jpeg');
    background-repeat: no-repeat;
    background-size: 100%;
    height: 150vh;
}

form {
    padding-top: 16%;
    color: white;
    margin-left: 35%;
}

label {
    font-weight: bold;
    font-size: 1.5vw;
}

input {
    margin-left: 3%;
    padding: 1%;
}

#amt {
    color: black;
}

#yes {
    padding: 1%;
    background-color: green;
    border: none;
    margin-left: 1%;
    margin-right: 2%;
}

#no {
    background-color: red;
    padding: 1%;
    border: none;
}

#confirm {
    padding: 1%;
    background-color: transparent;
    border: 2px solid white;
    color: white;
    margin-left: 0%;
}

#checkout {
    padding: 1.5%;
    background-color: transparent;
    border: 2px solid white;
    color: white;
    font-weight: bold;
}

.table {
    width: 50%;
}